$background: #292727;
$main-font:'Raleway', sans-serif;
$blue: #3f7fbf;

body {
    background-color: $background;
}

.navbar {
	background-color: $background;
	border-color: $background;
	h1{
		font-size: 55px;
		font-family: $main-font;
		color: white;
	}
}

.container {
    margin: 0px;
    height: 100vh;
    width: 100%;
    .left {
    	text-align: center;
    	label{
    		color: $blue;
    	}
    	.inputs{
    		button{
    			margin: 10px;
    			background-color: $blue;
    			border-color: $blue;
    			box-shadow: none;
    		}
    	}
    }
    .right {
    	background-color: white;
    	height: 100vh;
    	overflow: auto;
    	.address{
    		border-bottom: 1px solid black
    	}
    }
}

