<!DOCTYPE html>
<html>

<head>
    <title>Address Book</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./lib/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./styles/main.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body ng-app="AddressApp">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <h1>address book</h1>
                    </a>
                    <div class="btn-group">
                        <ul class="dropdown-menu" id="drop">
                            <!-- <li><a href="#" id="dropFireworks" catValue="fireworks">Fireworks</a></li>
                        <li><a href="#" id="dropDemo" catValue="demolition">Demolition</a></li> -->
                        </ul>
                    </div>
                </div>
                <ul class="nav navbar-nav navbar-right" ng-if="user.uid">
                    <li><a href="#!/new">New</a></li>
                    <li><a href="#!/list">List</a></li>
                    <li><a href="#!/logout">Logout</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-if="!user.uid">
                    <li><a href="#!/auth">Authenticate</a></li>
                </ul>
            </div>
        </nav>
        <div ng-view></div>
        <!-- View -->
    </div>



    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script type="text/javascript" src="./lib/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="./lib/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="./lib/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="./lib/bower_components/angular-route/angular-route.min.js"></script>

    <script type="text/javascript" src="./javascript/app.js"></script>
    <script type="text/javascript" src="./javascript/appConfig.js"></script>
    <script type="text/javascript" src="./javascript/AppConstants.js"></script>

    <script type="text/javascript" src="./javascript/factories/AddressFactory.js"></script>
    <script type="text/javascript" src="./javascript/factories/AuthFactory.js"></script>
    <script type="text/javascript" src="./javascript/factories/UserFactory.js"></script>
    
    <script type="text/javascript" src="./javascript/controllers/AddressListCtrl.js"></script>
    <script type="text/javascript" src="./javascript/controllers/NewAddCtrl.js"></script>
    <script type="text/javascript" src="./javascript/controllers/EditCtrl.js"></script>
    <script type="text/javascript" src="./javascript/controllers/AuthCtrl.js"></script>
</body>

</html>
